body{
	background-color: #ddd;
}
.navbar-custom{
 background: linear-gradient(#3187C8,#2076b7) !important;
}

#nav-logo{
	width:fit-parent !important;
	position:relative !important;
}
.navbar-brand-custom{

	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;
	padding-left:0px !important;
}
.navbar-inverse .navbar-brand{
	color: #FFF !important;
	font-family:malgun gothic !important;
	font-weight: bold !important;
	font-size: 20px !important;
	font-border:1px black !important;
}

.navbar-inverse .navbar-nav>li>a{
	color: #FFF !important;
	font-family:malgun gothic !important;
	font-weight: bold !important;
}

.navbar-form-custom{
	background: linear-gradient(#2387b7,#2076b7) !important;
	width: fit-parent !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color:#2060a5 !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color:#2060a5 !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	background-color:#3187C8 !important;
	border-color: #3187C8 !important;
}