.navbar-custom {
    background-color: black;
    background-image:linear-gradient(to bottom,darkslategrey 0,black 100%)

}

.navbar-custom .navbar-nav>li>a{
    color:white;
}
.navbar-custom .navbar-brand{
    color:white;
}
.navbar-custom .navbar-brand:hover{
    color: lightblue;
}
.navbar-custom .navbar-nav>li>a:hover{
    color:lightblue;
}
.img-custom{
    border-radius:80px;
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.navbar-custom{
    margin-bottom: 0;
}
.black-bg{
    background-color: darkslategrey;
}
body {
    background-color:#E9EBEE;
}

.card {
    background-color:dimgrey;
    padding:20px;
    border-radius:50px;
}

.card-title {
    font-size:1.5em;
    padding-top:5px;
    padding-bottom:5px;
}

.card-content {
    border-top:1px solid black;
    padding-top: 3px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


.card-content:hover{
    white-space: normal;
    overflow:auto;
    text-overflow:clip;
}

.con2{
    margin-top: 30px
}
html{
    margin-bottom: 35px;
    word-break: break-all;
}
